/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
/* Margin bottom by footer height */
    margin-bottom: 60px;
}
.boton {
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}
.footer {
position: absolute;

width: 100%;
/* Set the fixed height of the footer here */
line-height: 60px; /* Vertically center the text there */
background-color: #f5f5f5;
}

a:hover{
    text-decoration: none;
}

.page-link{
    transition: background-color 0.5s ease-out;
    color: #572364;
}

.page-link:active{
    border-color: #572364;
    transition-delay: 5ms;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #572364;
    border-color: #572364;
}

tr{
    transition: background-color 0.5s ease-out;
}

.btn-primary, .btn-secondary{
    background: #572364!important;
    font-size:15px!important;
}
.btn-primary:focus, .btn-secondary:focus{
    background: #784285!important;
    color: #FFFFFF!important;
}
.btn-primary:hover{
    background: #784285!important;
    color: #FFFFFF!important;
}
.btn-secondary:hover{
    background: #784285!important;
    color: #FFFFFF!important;
}
input:focus, input:active{
    color: #572364!important;
}
input [type=text]{
    color: #572364!important;
}

.list-group-item:active, .list-group-item:focus, .list-group-item::selection{
    background: #572364!important;
    color: #FFFFFF!important;
    transition: 0.3s ease-in;
    border: 1px solid #572364;

}

.list-group-item{
    border: 1px solid #E3E3E3;
}

.list-group-item:hover{
    background: #572364!important;
    /*background: rgb(199, 199, 199);*/
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

.list-group > .active{
    background: #572364!important;
    color: #FFFFFF!important;
    transition: 0.3s ease-in;
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
    padding: 60px 15px 0;
    margin-bottom: 5%;
}

.main-feed-head{
    background: #572364;
}

.main-feed-head > .container {
    padding: 60px 15px 0;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10%;
}

#img-user-feed{
    position: relative;
    top: 120px;
}

#feed-user{
    margin-top: 90px;
    padding: 60px 15px 0;
    text-align: center;
}

.feed{

    padding: 60px 15px 0;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.card > a{
    color: #191414;
}

.baner{
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    padding-top: 110px;
    background-image: linear-gradient(141deg, #784285 0%, #572364 75%);
    height:250px;
    width:100%;
}

.footer > .container {
    background: #191414;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    padding-top: 2%;
}

code {
    font-size: 80%;
}

.fcq-navbar{
    background: #572364!important;
    justify-content: space-between;
}

.order-feed{
    margin-top: 30px;
}

.container >.fcq-container{
    background: #F0F0F0;
    padding: 3% 3% 0;
    border-radius: 10px;
    border-width: 1px;
    border: 1px;
    border-style: solid;
    border-color: #E3E3E3;
    margin: 5% 2% 0;
    /*margin: 2%;*/
}

.user-table{
    padding-left: 10%;
}

.order-feed > .container{
    background: #F0F0F0;
    padding: 1% 0% 0%;
    border-radius: 10px;
    border-width: 1px;
    border: 1px;
    border-style: solid;
    border-color: #E3E3E3;
    margin: 3% 2% 0;
}

#btn-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.table-font{
    color: #707070;
}

#exp-date{
    padding-right: 50px;
}

#footer-fcq{

    background: #191414;
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

#logger{
    background: #F0F0F0;
    padding: 3% 3% 3%;
    border-radius: 10px;
    margin: 5% 2% 0;
}