/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Ciruclar Std Bold';
    src:  url('../fonts/circular/CircularStd-Bold.woff') format('woff');
    font-family: 'Ciruclar Std Book';
    src:  url('../fonts/circular/CircularStd-Book.woff') format('woff');
    font-family: 'Ciruclar Std Medium';
    src:  url('../fonts/circular/CircularStd-Medium.woff') format('woff');
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'champions bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/champions-bold/champions-bold.eot'), url('../fonts/champions-bold/champions-bold.woff'), url('../fonts/champions-bold/champions-bold.svg');
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'champions light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/champions-light/champions-light.woff');
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'champions regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/champions-regular/champions-regular.woff');
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
.circular-bold{
    color: #FFFFFF;
    font-family: 'Circular Std Bold'!important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.circular-book{
    color: #FFFFFF;
    font-family: 'Circular Std Book'!important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.circular-medium{
    color: #FFFFFF;
    font-family: 'Circular Std Medium'!important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.champions-bold{
    color: #FFFFFF;
    font-family: 'champions bold'!important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.champions-regular{
    color: #FFFFFF;
    font-family: 'champions regular'!important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.champions-light{

    color: #FFFFFF;
    font-family: 'champions light'!important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}



html {
    
    height: 100%;
  }

body{
    margin-bottom: 60px;
    background: #FFFFFF;
    color: #191414;
    align-content: center;
    height: 100%;
    min-height: 100%;
}

.form-spot{
    border-width: 1.5px!important;
}

.form-spot:active{
    border-color: #1ED760!important;
    border-width: 1.5px!important;
}
.form-spot:focus{
    border-color: #1ED760!important;
    border-width: 1.5px!important;
}

.form-green{
    /*background: #1DB954;*/
    background: rgba(50, 50, 50, 1);
    padding: 25px;
    border-radius: 25px;
    
}
.div-spot{
    margin: 0 auto;
    overflow: auto;
            
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    color: #191414;
    padding-bottom: 2%;

    display: inline-block;

    align-items: center!important;
    text-align: left!important;


    padding-top: 2%;
    padding-left: 4%;
}
#logIn{
    display: inherit;
}
#SignUp{
    display: inherit;
}
.div-spot > * {
    vertical-align:middle;  /* Align children to middle of line */
}

.btn-spot{
    border-radius: 25px!important;
    background: #1DB954!important;
    border: 0px solid rgba(255, 255, 255, 0); 
    overflow: hidden;
}
.btn-spot:hover{
    background: #1ED760!important;
    color: #ffffff!important;
}
.btn-nav{
    border-radius: 25px!important;
    border-width: 1.5px!important;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border: 0px solid rgba(255, 255, 255, 0);
    overflow: hidden;

}


.navbar-dark{
    background: rgba(20, 20, 20, 1)!important;
    transition: 0.35s, all ease!important;
    opacity: 20%!important;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -17px;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.nav, .nav-inverse {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
    font-kerning: normal;
    font-size: xx-small;
}
#navbarDropdown{
    color: #FFFFFF;
    
}
#navbarDropdown:hover{
    color: #1DB954;
}
.dropdown-item{
    color: #282828;
}
.dropdown-item:link{
    color: #282828;
    font-size: small;
}
.dropdown-item:visited{
    color: #282828;
    font-size: small;
}
.dropdown-item:hover{
    color: #FFFFFF;
    background: #1DB954;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 12px;
}
li {
    float: left;
}
.nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.navbar .divider-vertical {
    padding: .01px;
    height: 50px;
    margin: 0 9px;
    float: left;  
    background: #FFFFFF;
    border-right: .3px solid #ffffff;
    border-top: .3px solid #ffffff;
    border-bottom: .3px solid #ffffff;
    border-left: .3px solid #f2f2f2;
}
.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}
.actived {
    color: #1ED760;
    border-bottom: 1px solid #1ED760;
    padding-bottom: 1px;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}
.nav-logo{
    width: 132px;
    height: 40px;
}

.artist-item{
    text-decoration: none;
    list-style: none;
}

.artist-list{
    
}

.form-control{
    border-radius: 25px!important;
    border: 0px solid rgba(255, 255, 255, 0); 
}

#emailHelp{
    color: lightgray!important;
}

.spot-body{
    color: #282828;
}
/* FLEXBOX */
.parent {
    display: flex;
    height: 300px; /* Or whatever */
  }
  
  .child {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
  }

  .flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    align-content: center;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding: .3%;
}

 /* unvisited link */
 a:link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: large;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #1DB954;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #1DB954;
    text-decoration: none;
} 

footer{
    padding: 6%;
    background: #282828;
    position: relative;
    font-size: x-small;

    width: 100%;
    /* Set the fixed height of the footer here */

    line-height: 60px; /* Vertically center the text there */
    }
.footer {
    padding: 80px 0 50px;
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 24px;
    position: static;
    z-index: auto;
    
}
.footer-default {
    background: #000;
}

.foot-center{
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
#foot-spot{
    position: sticky;
    font-size: large;
    line-height: 0;
    display: block;
    float: none;

    position: static;
    z-index: auto;
    
}

.wrap {
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 5%;
}

.img-circle {
    border-radius: 50%!important;
    overflow: hidden;
    border: 0px solid rgba(255, 255, 255, 0); 
}

/* Home Logged */

header {
    background-image:url('../img/home/deadmau5-2.jpg');

    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    text-align:center;
    color:#fff;

}
/* Logged theme  */
.back-log{
    background-color: transparent;
    color: #FFFFFF;
}

.log-form{
    padding: 1.5%;
}

header .intro-text {
    padding-top:100px;
    padding-bottom:50px
   }
   header .intro-text .intro-lead-in {
    font-size:22px;
    line-height:22px;
    margin-bottom:25px
   }
   header .intro-text .intro-heading {
    font-family:"Circular Bold";
    font-weight:700;
    font-size:50px;
    line-height:50px;
    margin-bottom:25px
   }
   @media (min-width:768px) {
    header .intro-text {
     padding-top:300px;
     padding-bottom:200px
    }
    header .intro-text .intro-lead-in {
     font-size:40px;
     line-height:40px;
     margin-bottom:25px
    }
    header .intro-text .intro-heading {
     font-weight:700;
     font-size:75px;
     line-height:75px;
     margin-bottom:50px
    }
}
.navbar-custom {
    background-color:#222;
    border-color:transparent
   }
   .navbar-custom .navbar-brand {
    color:#fed136;
   }
   .navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:hover {
    color:#fec503
   }
   .navbar-custom .nav li a,.navbar-custom .navbar-toggle {
    color:#fff;
    text-transform:uppercase
   }
   .navbar-custom .navbar-collapse {
    border-color:rgba(255,255,255,.02)
   }
   .navbar-custom .navbar-toggle {
    background-color:#fed136;
    border-color:#fed136;
    font-size:12px
   }
   .navbar-custom .navbar-toggle:focus,.navbar-custom .navbar-toggle:hover {
    background-color:#fed136
   }
   .navbar-custom .nav li a {
    font-weight:400;
    letter-spacing:1px;
   }
   .navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover {
    color:#fed136;
    outline:0;
   }
   .navbar-custom .navbar-nav>.active>a {
    border-radius:0;
    color:#fff;
    background-color:#fed136;
   }
   .navbar-custom .navbar-nav>.active>a:focus,.navbar-custom .navbar-nav>.active>a:hover {
    color:#fff;
    background-color:#fec503;
   }
}

.pagination a {
    color: transparent!important;
    float: left;
    text-decoration: none!important;
}

.pagination a.active {
    background-color: #4CAF50!important;
    color: white!important;
}

.pagination a:hover:not(.active) {background-color: #ddd!important;}

.page-item .page-link {
 
   
    color: #1DB954!important;
   
    background-color: #181818!important;
   
    border-color: #181818;
   
}
.page-item.active .page-link {
 
   
    color: #FFFFFF!important;
   
    background-color: #1ED760!important;
   
    border-color: #181818;
   
}

.artist-list{
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 30px;
    list-style: none;
}

.artist-item{
 
    margin: 0px;
    padding: 0px;
    padding: 3%;
}

.artist-image{
    width: 100%;
    overflow: hidden;
    padding-bottom: 4%;
}
.artist-image img{
    
    width: 100%;
    
    width: 250px; height: 250px;
}

.artist-btns{
    justify-content: center;
}
.buttons{
    margin: 1.3%;
}

.btn-edit{
    border-radius: 25px!important;
    border:  1px solid rgb(255, 205, 5)!important;
    box-shadow: 0 0 1px 2px #181818;
    overflow: hidden;
}
.btn-edit:hover{
    background: rgb(255, 205, 5)!important;
    color: #ffffff!important;
}
.btn-delete{
    border-radius: 25px!important;
    border:  1px solid #FF1F51!important;
    box-shadow: 0 0 1px 2px #181818;

    overflow: hidden;
}
.btn-delete:hover{
    background: #FF1F51!important;
    color: #ffffff!important;
}

/* Detail artist */
.page-header {

    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    text-align:center;
    color:#fff;

}
.page-header-image{
    background-image:url('../img/now/bg5.jpg');
}
.btn-folllow{
    color: #FFFFFF;
    background-color: #1DB954;
}
.btn-folllow:hover{
    color: #FFFFFF;
    background-color: #1ED760;
    
}
.artist-header{
    padding: 5%;
    background-image: linear-gradient( #282828 , #000);
}

.grad{
    background-image: linear-gradient( #282828 , #000);
}

.confirm{
    margin-top: 1.1%;
    background: transparent;
    position: absolute;
    height: 40px;
    margin: 1.3%;
}
.albums-body{
  background-image: linear-gradient( #000 , black);
  padding: .3%;
  padding-inline-start: 15%;
  padding-inline-end: 15%;
  
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;

}

















/* Animations */

.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link,
.tag,
.tag [data-role="remove"] {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.card a,
.bootstrap-switch-label:before {
  -webkit-transition: all 150ms ease 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.dropdown-toggle:after,
[data-toggle="collapse"][data-parent="#accordion"] i {
  -webkit-transition: transform 150ms ease 0s;
  -moz-transition: transform 150ms ease 0s;
  -o-transition: transform 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: transform 150ms ease 0s;
}

.dropdown-toggle[aria-expanded="true"]:after,
[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.button-bar {
  display: block;
  position: relative;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background: #FFFFFF;
}

.button-bar+.button-bar {
  margin-top: 7px;
}

.button-bar:nth-child(2) {
  width: 17px;
}

.separator-line {
  height: 2px;
  width: 44px;
  background-color: #888888;
  margin: 20px auto;
}

.separator-line.separator-primary {
  background-color: #f96332;
}

.section-space {
  height: 62px;
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}



.nav-pills.nav-pills-just-icons .nav-item .nav-link {
  text-align: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding: 0;
  max-width: 80px;
  min-width: auto;
  margin-bottom: 4px;
}

.nav-pills.nav-pills-just-icons .nav-item .nav-link i {
  line-height: 80px;
}

.nav-pills:not(.flex-column) .nav-item:not(:last-child) .nav-link {
  margin-right: 19px;
}

.nav-pills .nav-item .nav-link {
  padding: 10px 23px;
  background-color: rgba(222, 222, 222, 0.3);
  min-width: 100px;
  font-weight: 400;
  text-align: center;
  color: #444;
}

.nav-pills .nav-item .nav-link:hover {
  background-color: rgba(222, 222, 222, 0.3);
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:focus,
.nav-pills .nav-item .nav-link.active:hover {
  background-color: #9A9A9A;
  color: #FFFFFF;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.nav-pills .nav-item .nav-link.disabled,
.nav-pills .nav-item .nav-link:disabled,
.nav-pills .nav-item .nav-link[disabled] {
  opacity: .5;
}

.nav-pills .nav-item i {
  display: block;
  line-height: 60px;
  font-size: 24px;
}

.nav-pills.nav-pills-neutral .nav-item .nav-link {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.nav-pills.nav-pills-neutral .nav-item .nav-link.active,
.nav-pills.nav-pills-neutral .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-neutral .nav-item .nav-link.active:hover {
  background-color: #FFFFFF;
  color: #f96332;
}

.nav-pills.nav-pills-primary .nav-item .nav-link.active,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
  background-color: #f96332;
}

.nav-pills.nav-pills-info .nav-item .nav-link.active,
.nav-pills.nav-pills-info .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-info .nav-item .nav-link.active:hover {
  background-color: #2CA8FF;
}

.nav-pills.nav-pills-success .nav-item .nav-link.active,
.nav-pills.nav-pills-success .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-success .nav-item .nav-link.active:hover {
  background-color: #18ce0f;
}

.nav-pills.nav-pills-warning .nav-item .nav-link.active,
.nav-pills.nav-pills-warning .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
  background-color: #FFB236;
}

.nav-pills.nav-pills-danger .nav-item .nav-link.active,
.nav-pills.nav-pills-danger .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-danger .nav-item .nav-link.active:hover {
  background-color: #FF3636;
}

.tab-space {
  padding: 20px 0 50px 0px;
}

.nav-align-center {
  text-align: center;
}

.nav-align-center .nav-pills {
  display: inline-flex;
}

.bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
    line-height: 8px;
    width: 59px !important;
    height: 22px;
    outline: none;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-right: 20px;
    background: rgba(44, 44, 44, 0.2);
  }
  
  .bootstrap-switch .bootstrap-switch-container {
    display: inline-flex;
    top: 0;
    height: 22px;
    border-radius: 4px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100px !important;
  }
  
  .bootstrap-switch .bootstrap-switch-handle-on,
  .bootstrap-switch .bootstrap-switch-handle-off,
  .bootstrap-switch .bootstrap-switch-label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block !important;
    height: 100%;
    color: #fff;
    padding: 6px 12px;
    font-size: 11px;
    text-indent: -5px;
    line-height: 15px;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
  }
  
  .bootstrap-switch .bootstrap-switch-handle-on,
  .bootstrap-switch .bootstrap-switch-handle-off {
    text-align: center;
    z-index: 1;
    float: left;
    line-height: 11px;
    width: 50% !important;
  }

  /* FORM CONTROL */
  
.form-control::-moz-placeholder {
  color: #444;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control:-moz-placeholder {

  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control::-webkit-input-placeholder {

  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control:-ms-input-placeholder {

  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control {
  /*background-color: transparent;*/
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #181818;
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-success .form-control {
  border-color: #E3E3E3;
}

.form-control:focus {
  border: 1px solid #16c00e;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;

}

.form-control:focus+.input-group-text,
.form-control:focus~.input-group-text {
  border: 1px solid #f96332;
  border-left: none;
  background-color: transparent;
}

.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-success .form-control:focus {
  border-color: #1be611;
}

.has-danger .form-control.form-control-success,
.has-danger .form-control.form-control-danger,
.has-success .form-control.form-control-success,
.has-success .form-control.form-control-danger {
  background-image: none;
}

.has-danger .form-control {
  border-color: #ffcfcf;
  color: #FF3636;
  background-color: rgba(222, 222, 222, 0.1);
}

.has-danger .form-control:focus {
  background-color: #FFFFFF;
}

.form-control+.form-control-feedback {
  border-radius: 0.25rem;
  font-size: 14px;
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
  vertical-align: middle;
}

.open .form-control {
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom-color: transparent;
}

.has-success:after,
.has-danger:after {
  content: "\ea22";
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 12px;
  color: #18ce0f;
  font-size: 11px;
}

/* DROPDOWN */
.input-group .form-control:first-child,
.input-group-text:first-child,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-right: 0 none;
}

.input-group .form-control:last-child,
.input-group-text:last-child,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child) {
  border-left: 0 none;
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
  }

  .navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):not(.btn) {
    color: #888888;
  }
  
  .navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):not(.btn).disabled {
    opacity: .5;
    color: #888888;
  }


  .bg-default {
    background-color: #888888 !important;
  }
  
  .bg-primary {
    background-color: #f96332 !important;
  }
  
  .bg-info {
    background-color: #2CA8FF !important;
  }
  
  .bg-success {
    background-color: #18ce0f !important;
  }
  
  .bg-danger {
    background-color: #FF3636 !important;
  }
  
  .bg-warning {
    background-color: #FFB236 !important;
  }
  
  .bg-white {
    background-color: #FFFFFF !important;
  }
  
  .dropdown-menu {
    border: 0;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.125rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    font-size: 14px;
  }
  
  .dropdown-menu.dropdown-menu-right:before {
    left: auto;
    right: 10px;
  }
  
  .dropdown .dropdown-menu {
    -webkit-transform: translate3d(0, -25px, 0) !important;
    -moz-transform: translate3d(0, -25px, 0) !important;
    -o-transform: translate3d(0, -25px, 0) !important;
    -ms-transform: translate3d(0, -25px, 0) !important;
    transform: translate3d(0, -25px, 0) !important;
    visibility: hidden;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 100% !important;
  }
  
  .dropdown.show .dropdown-menu,
  .dropdown-menu.open {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0) !important;
    -moz-transform: translate3d(0, 0px, 0) !important;
    -o-transform: translate3d(0, 0px, 0) !important;
    -ms-transform: translate3d(0, 0px, 0) !important;
    transform: translate3d(0, 0px, 0) !important;
  }
  
  .dropdown-menu .dropdown-item,
  .bootstrap-select .dropdown-menu.inner li a {
    font-size: 0.8571em;
    padding-top: .6rem;
    padding-bottom: .6rem;
    margin-top: 5px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
  }

  
  .dropdown-menu .dropdown-item.disabled,
  .dropdown-menu .dropdown-item:disabled,
  .bootstrap-select .dropdown-menu.inner li a.disabled,
  .bootstrap-select .dropdown-menu.inner li a:disabled {
    color: rgba(182, 182, 182, 0.6);
  }
  
  .dropdown-menu .dropdown-item.disabled:hover,
  .dropdown-menu .dropdown-item.disabled:focus,
  .dropdown-menu .dropdown-item:disabled:hover,
  .dropdown-menu .dropdown-item:disabled:focus,
  .bootstrap-select .dropdown-menu.inner li a.disabled:hover,
  .bootstrap-select .dropdown-menu.inner li a.disabled:focus,
  .bootstrap-select .dropdown-menu.inner li a:disabled:hover,
  .bootstrap-select .dropdown-menu.inner li a:disabled:focus {
    background-color: transparent;
  }
  
  .dropdown-menu:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    left: 10px;
    right: auto;
    color: #FFFFFF;
    border-bottom: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent;
  }
  
  .dropdown-menu .dropdown-divider {
    background-color: rgba(222, 222, 222, 0.5);
  }
  
  .dropdown-menu .dropdown-header:not([href]):not([tabindex]) {
    color: #16c00e;

  }
  
  .dropdown-menu.dropdown-primary {
    background-color: #f95823;
  }
  
  .dropdown-menu.dropdown-primary:before {
    color: #f95823;
  }
  
  .dropdown-menu.dropdown-primary .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dropdown-menu.dropdown-primary .dropdown-item {
    color: #FFFFFF;
  }
  
  .dropdown-menu.dropdown-primary .dropdown-item:hover,
  .dropdown-menu.dropdown-primary .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-primary .dropdown-divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-info {
    background-color: #1da2ff;
  }
  
  .dropdown-menu.dropdown-info:before {
    color: #1da2ff;
  }
  
  .dropdown-menu.dropdown-info .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dropdown-menu.dropdown-info .dropdown-item {
    color: #FFFFFF;
  }
  
  .dropdown-menu.dropdown-info .dropdown-item:hover,
  .dropdown-menu.dropdown-info .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-info .dropdown-divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-danger {
    background-color: #ff2727;
  }
  
  .dropdown-menu.dropdown-danger:before {
    color: #ff2727;
  }
  
  .dropdown-menu.dropdown-danger .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dropdown-menu.dropdown-danger .dropdown-item {
    color: #FFFFFF;
  }
  
  .dropdown-menu.dropdown-danger .dropdown-item:hover,
  .dropdown-menu.dropdown-danger .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-danger .dropdown-divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-success {
    background-color: #16c00e;
  }
  
  .dropdown-menu.dropdown-success:before {
    color: #16c00e;
  }
  
  .dropdown-menu.dropdown-success .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dropdown-menu.dropdown-success .dropdown-item {
    color: #FFFFFF;
  }
  
  .dropdown-menu.dropdown-success .dropdown-item:hover,
  .dropdown-menu.dropdown-success .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-success .dropdown-divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-warning {
    background-color: #ffac27;
  }
  
  .dropdown-menu.dropdown-warning:before {
    color: #ffac27;
  }
  
  .dropdown-menu.dropdown-warning .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .dropdown-menu.dropdown-warning .dropdown-item {
    color: #FFFFFF;
  }
  
  .dropdown-menu.dropdown-warning .dropdown-item:hover,
  .dropdown-menu.dropdown-warning .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .dropdown-menu.dropdown-warning .dropdown-divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .button-dropdown {
    padding-right: 0.7rem;
    cursor: pointer;
  }
  
  .button-dropdown .dropdown-toggle {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
  }
  
  .button-dropdown .dropdown-toggle:after {
    display: none;
  }
  
  .alert {
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    padding-top: .9rem;
    padding-bottom: .9rem;
  }
  
  .alert .alert-link {
    color: #FFFFFF;
    opacity: .8;
  }
  
  .alert.alert-success {
    background-color: rgba(24, 206, 15, 0.8);
  }
  
  .alert.alert-danger {
    background-color: rgba(255, 54, 54, 0.8);
  }
  
  .alert.alert-warning {
    background-color: rgba(255, 178, 54, 0.8);
  }
  
  .alert.alert-info {
    background-color: rgba(44, 168, 255, 0.8);
  }
  
  .alert.alert-primary {
    background-color: rgba(249, 99, 50, 0.8);
  }
  
  .alert .alert-icon {
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -1px;
  }
  
  .alert strong {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .alert i.fa,
  .alert i.now-ui-icons {
    font-size: 20px;
  }
  
  .alert .close {
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;
    line-height: 0;
    outline: 0;
    display: inline-block;
    cursor: pointer;
  }

  /* ARTIST/PROFILE */

  .profile-page .page-header {
    min-height: 550px;
  }
  
  .profile-page .profile-container {
    color: #FFFFFF;
  }
  
  .profile-page .photo-container {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  }
  
  .profile-page .title {
    text-align: center;
    margin-top: 30px;
  }
  
  .profile-page .description,
  .profile-page .category {
    text-align: center;
  }
  
  .profile-page h5.description {
    max-width: 700px;
    margin: 20px auto 75px;
  }
  
  .profile-page .nav-align-center {
    margin-top: 30px;
  }
  
  .profile-page .content {
    max-width: 450px;
    margin: 0 auto;
  }
  
  .profile-page .content .social-description {
    display: inline-block;
    max-width: 150px;
    width: 145px;
    text-align: center;
    margin: 15px 0 0px;
  }
  
  .profile-page .content .social-description h2 {
    margin-bottom: 15px;
  }
  
  .profile-page .button-container {
    text-align: center;
    margin-top: -106px;
  }
  
  .profile-page .collections img {
    margin-bottom: 30px;
  }
  
  .profile-page .gallery {
    margin-top: 45px;
    padding-bottom: 50px;
  }
  .index-page .page-header .container>.content-center {
    top: 37%;
  }
  .section {
    padding: 70px 0;
    position: relative;
    background: #FFFFFF;
  }
  
  .section .row+.category {
    margin-top: 15px;
  }
  
  .section-navbars {
    padding-bottom: 0;
  }
  
  .section-full-screen {
    height: 100vh;
  }
  
  .section-signup {
    padding-top: 20vh;
  }
  
  .page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }
  
  .page-header>.content {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .page-header.page-header-small {
    min-height: 60vh;
    max-height: 440px;
  }
  
  .page-header:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  
  .page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
  }
  
  .page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .page-header .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
  }
  
  .page-header .category,
  .page-header .description {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .page-header:after,
  .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
  }
  @media screen and (max-width: 576px) {
    .navbar[class*='navbar-expand-'] .container {
      margin-left: 0;
      margin-right: 0;
    }
    .footer .copyright {
      text-align: center;
    }
    .section-nucleo-icons .icons-container i {
      font-size: 30px;
    }
    .section-nucleo-icons .icons-container i:nth-child(6) {
      font-size: 48px;
    }
    .page-header .container h6.category-absolute {
      width: 90%;
    }
  }
  .index-page .page-header .container>.content-center {
    top: 37%;
  }

  .btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px;
  }
  
  .btn-round.btn-simple {
    padding: 10px 22px;
  }
  alert {
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    padding-top: .9rem;
    padding-bottom: .9rem;
  }
  
  .alert .alert-link {
    color: #FFFFFF;
    opacity: .8;
  }
  
  .alert.alert-success {
    background-color: rgba(24, 206, 15, 0.8);
  }
  
  .alert.alert-danger {
    background-color: rgba(255, 54, 54, 0.8);
  }
  
  .alert.alert-warning {
    background-color: rgba(255, 178, 54, 0.8);
  }
  
  .alert.alert-info {
    background-color: rgba(44, 168, 255, 0.8);
  }
  
  .alert.alert-primary {
    background-color: rgba(249, 99, 50, 0.8);
  }
  
  .alert .alert-icon {
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -1px;
  }
  
  .alert strong {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .alert i.fa,
  .alert i.now-ui-icons {
    font-size: 20px;
  }
  
  .alert .close {
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;
    line-height: 0;
    outline: 0;
    display: inline-block;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    border-radius: 1px;
  }
  
  .img-raised {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  }
  
  .popover {
    font-size: 14px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border: none;
    line-height: 1.7;
    max-width: 240px;
  }
  
  .popover.bs-popover-top .arrow:before,
  .popover.bs-popover-left .arrow:before,
  .popover.bs-popover-right .arrow:before,
  .popover.bs-popover-bottom .arrow:before {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  
  .popover .popover-header {
    color: rgba(182, 182, 182, 0.6);
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
    border: none;
    background-color: transparent;
  }
  
  .popover:before {
    display: none;
  }
  
  .popover.bs-tether-element-attached-top:after {
    border-bottom-color: #FFFFFF;
    top: -9px;
  }
  
  .popover.popover-primary {
    background-color: #f96332;
  }
  
  .popover.popover-primary .popover-body {
    color: #FFFFFF;
  }
  
  .popover.popover-primary.bs-popover-right .arrow:after {
    border-right-color: #f96332;
  }
  
  .popover.popover-primary.bs-popover-top .arrow:after {
    border-top-color: #f96332;
  }
  
  .popover.popover-primary.bs-popover-bottom .arrow:after {
    border-bottom-color: #f96332;
  }
  
  .popover.popover-primary.bs-popover-left .arrow:after {
    border-left-color: #f96332;
  }
  
  .popover.popover-primary .popover-header {
    color: #FFFFFF;
    opacity: .6;
  }
  
  .popover.popover-info {
    background-color: #2CA8FF;
  }
  
  .popover.popover-info .popover-body {
    color: #FFFFFF;
  }
  
  .popover.popover-info.bs-popover-right .arrow:after {
    border-right-color: #2CA8FF;
  }
  
  .popover.popover-info.bs-popover-top .arrow:after {
    border-top-color: #2CA8FF;
  }
  
  .popover.popover-info.bs-popover-bottom .arrow:after {
    border-bottom-color: #2CA8FF;
  }
  
  .popover.popover-info.bs-popover-left .arrow:after {
    border-left-color: #2CA8FF;
  }
  
  .popover.popover-info .popover-header {
    color: #FFFFFF;
    opacity: .6;
  }
  
  .popover.popover-warning {
    background-color: #FFB236;
  }
  
  .popover.popover-warning .popover-body {
    color: #FFFFFF;
  }
  
  .popover.popover-warning.bs-popover-right .arrow:after {
    border-right-color: #FFB236;
  }
  
  .popover.popover-warning.bs-popover-top .arrow:after {
    border-top-color: #FFB236;
  }
  
  .popover.popover-warning.bs-popover-bottom .arrow:after {
    border-bottom-color: #FFB236;
  }
  
  .popover.popover-warning.bs-popover-left .arrow:after {
    border-left-color: #FFB236;
  }
  
  .popover.popover-warning .popover-header {
    color: #FFFFFF;
    opacity: .6;
  }
  
  .popover.popover-danger {
    background-color: #FF3636;
  }
  
  .popover.popover-danger .popover-body {
    color: #FFFFFF;
  }
  
  .popover.popover-danger.bs-popover-right .arrow:after {
    border-right-color: #FF3636;
  }
  
  .popover.popover-danger.bs-popover-top .arrow:after {
    border-top-color: #FF3636;
  }
  
  .popover.popover-danger.bs-popover-bottom .arrow:after {
    border-bottom-color: #FF3636;
  }
  
  .popover.popover-danger.bs-popover-left .arrow:after {
    border-left-color: #FF3636;
  }
  
  .popover.popover-danger .popover-header {
    color: #FFFFFF;
    opacity: .6;
  }
  
  .popover.popover-success {
    background-color: #18ce0f;
  }
  
  .popover.popover-success .popover-body {
    color: #FFFFFF;
  }
  
  .popover.popover-success.bs-popover-right .arrow:after {
    border-right-color: #18ce0f;
  }
  
  .popover.popover-success.bs-popover-top .arrow:after {
    border-top-color: #18ce0f;
  }
  
  .popover.popover-success.bs-popover-bottom .arrow:after {
    border-bottom-color: #18ce0f;
  }
  
  .popover.popover-success.bs-popover-left .arrow:after {
    border-left-color: #18ce0f;
  }
  
  .popover.popover-success .popover-header {
    color: #FFFFFF;
    opacity: .6;
  }
  
  .tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #FFFFFF;
  }
  
  .tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #FFFFFF;
  }
  
  .tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #FFFFFF;
  }
  
  .tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #FFFFFF;
  }
  
  .tooltip-inner {
    padding: 0.5rem 0.7rem;
    min-width: 130px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: inherit;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }
  .noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
  }
  
  .noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
  }
  
  .noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
  }